[submodule "strykelang"]
	path = strykelang
	url = https://github.com/MenkeTechnologies/strykelang.git
[submodule "zshrs"]
	path = zshrs
	url = https://github.com/MenkeTechnologies/zshrs.git
[submodule "fusevm"]
	path = fusevm
	url = https://github.com/MenkeTechnologies/fusevm.git
[submodule "lsofrs"]
	path = lsofrs
	url = https://github.com/MenkeTechnologies/lsofrs.git
[submodule "temprs"]
	path = temprs
	url = https://github.com/MenkeTechnologies/temprs.git
[submodule "awkrs"]
	path = awkrs
	url = https://github.com/MenkeTechnologies/awkrs.git
[submodule "iftoprs"]
	path = iftoprs
	url = https://github.com/MenkeTechnologies/iftoprs.git
[submodule "Audio-Haxor"]
	path = Audio-Haxor
	url = https://github.com/MenkeTechnologies/Audio-Haxor.git
[submodule "zpwr"]
	path = zpwr
	url = https://github.com/MenkeTechnologies/zpwr.git
[submodule "stryke-arrow"]
	path = stryke-arrow
	url = https://github.com/MenkeTechnologies/stryke-arrow.git
[submodule "stryke-aws"]
	path = stryke-aws
	url = https://github.com/MenkeTechnologies/stryke-aws.git
[submodule "stryke-demo"]
	path = stryke-demo
	url = https://github.com/MenkeTechnologies/stryke-demo.git
[submodule "stryke-docker"]
	path = stryke-docker
	url = https://github.com/MenkeTechnologies/stryke-docker.git
[submodule "stryke-duckdb"]
	path = stryke-duckdb
	url = https://github.com/MenkeTechnologies/stryke-duckdb.git
[submodule "stryke-gcp"]
	path = stryke-gcp
	url = https://github.com/MenkeTechnologies/stryke-gcp.git
[submodule "stryke-grpc"]
	path = stryke-grpc
	url = https://github.com/MenkeTechnologies/stryke-grpc.git
[submodule "stryke-gui"]
	path = stryke-gui
	url = https://github.com/MenkeTechnologies/stryke-gui.git
[submodule "stryke-k8s"]
	path = stryke-k8s
	url = https://github.com/MenkeTechnologies/stryke-k8s.git
[submodule "stryke-kafka"]
	path = stryke-kafka
	url = https://github.com/MenkeTechnologies/stryke-kafka.git
[submodule "stryke-mongo"]
	path = stryke-mongo
	url = https://github.com/MenkeTechnologies/stryke-mongo.git
[submodule "stryke-mysql"]
	path = stryke-mysql
	url = https://github.com/MenkeTechnologies/stryke-mysql.git
[submodule "stryke-parquet"]
	path = stryke-parquet
	url = https://github.com/MenkeTechnologies/stryke-parquet.git
[submodule "stryke-postgres"]
	path = stryke-postgres
	url = https://github.com/MenkeTechnologies/stryke-postgres.git
[submodule "stryke-redis"]
	path = stryke-redis
	url = https://github.com/MenkeTechnologies/stryke-redis.git
[submodule "stryke-spark"]
	path = stryke-spark
	url = https://github.com/MenkeTechnologies/stryke-spark.git
[submodule "nmaprs"]
	path = nmaprs
	url = https://github.com/MenkeTechnologies/nmaprs.git
[submodule "zsh-more-completions"]
	path = zsh-more-completions
	url = https://github.com/MenkeTechnologies/zsh-more-completions.git
[submodule "zsh-expand"]
	path = zsh-expand
	url = https://github.com/MenkeTechnologies/zsh-expand.git
[submodule "zsh-cargo-completion"]
	path = zsh-cargo-completion
	url = https://github.com/MenkeTechnologies/zsh-cargo-completion.git
[submodule "zsh-cpan-completion"]
	path = zsh-cpan-completion
	url = https://github.com/MenkeTechnologies/zsh-cpan-completion.git
[submodule "zsh-dotnet-completion"]
	path = zsh-dotnet-completion
	url = https://github.com/MenkeTechnologies/zsh-dotnet-completion.git
[submodule "zsh-gem-completion"]
	path = zsh-gem-completion
	url = https://github.com/MenkeTechnologies/zsh-gem-completion.git
[submodule "zsh-git-acp"]
	path = zsh-git-acp
	url = https://github.com/MenkeTechnologies/zsh-git-acp.git
[submodule "zsh-git-repo-cache"]
	path = zsh-git-repo-cache
	url = https://github.com/MenkeTechnologies/zsh-git-repo-cache.git
[submodule "zsh-learn"]
	path = zsh-learn
	url = https://github.com/MenkeTechnologies/zsh-learn.git
[submodule "zsh-better-npm-completion"]
	path = zsh-better-npm-completion
	url = https://github.com/MenkeTechnologies/zsh-better-npm-completion.git
[submodule "zsh-nginx"]
	path = zsh-nginx
	url = https://github.com/MenkeTechnologies/zsh-nginx.git
[submodule "zsh-pip-description-completion"]
	path = zsh-pip-description-completion
	url = https://github.com/MenkeTechnologies/zsh-pip-description-completion.git
[submodule "zsh-sed-sub"]
	path = zsh-sed-sub
	url = https://github.com/MenkeTechnologies/zsh-sed-sub.git
[submodule "zsh-sudo"]
	path = zsh-sudo
	url = https://github.com/MenkeTechnologies/zsh-sudo.git
[submodule "zsh-xcode-completions"]
	path = zsh-xcode-completions
	url = https://github.com/MenkeTechnologies/zsh-xcode-completions.git
[submodule "homebrew-menketech"]
	path = homebrew-menketech
	url = https://github.com/MenkeTechnologies/homebrew-menketech.git
[submodule "zpwrchrome"]
	path = zpwrchrome
	url = https://github.com/MenkeTechnologies/zpwrchrome.git
[submodule "traderview"]
	path = traderview
	url = https://github.com/MenkeTechnologies/traderview.git
[submodule "storageshower"]
	path = storageshower
	url = https://github.com/MenkeTechnologies/storageshower.git
[submodule "MenkeTechnologies.github.io"]
	path = MenkeTechnologies.github.io
	url = https://github.com/MenkeTechnologies/MenkeTechnologies.github.io.git
[submodule "LearningCollectionAPI"]
	path = LearningCollectionAPI
	url = https://github.com/MenkeTechnologies/LearningCollectionAPI.git
[submodule "api-rest-generator"]
	path = api-rest-generator
	url = https://github.com/MenkeTechnologies/api-rest-generator.git
[submodule "tmux-fzf-url"]
	path = tmux-fzf-url
	url = https://github.com/MenkeTechnologies/tmux-fzf-url.git
[submodule "zsh-z"]
	path = zsh-z
	url = https://github.com/MenkeTechnologies/zsh-z.git
[submodule "fasd-simple"]
	path = fasd-simple
	url = https://github.com/MenkeTechnologies/fasd-simple.git
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/MenkeTechnologies/fzf-tab.git
[submodule "gh_reveal"]
	path = gh_reveal
	url = https://github.com/MenkeTechnologies/gh_reveal.git
[submodule "jhipster-oh-my-zsh-plugin"]
	path = jhipster-oh-my-zsh-plugin
	url = https://github.com/MenkeTechnologies/jhipster-oh-my-zsh-plugin.git
[submodule "revolver"]
	path = revolver
	url = https://github.com/MenkeTechnologies/revolver.git
[submodule "zsh-travis"]
	path = zsh-travis
	url = https://github.com/MenkeTechnologies/zsh-travis.git
[submodule "zsh-very-colorful-manuals"]
	path = zsh-very-colorful-manuals
	url = https://github.com/MenkeTechnologies/zsh-very-colorful-manuals.git
[submodule "zunit"]
	path = zunit
	url = https://github.com/MenkeTechnologies/zunit.git
[submodule "fzf-zsh-plugin"]
	path = fzf-zsh-plugin
	url = https://github.com/MenkeTechnologies/fzf-zsh-plugin.git
[submodule "zsh-docker-aliases"]
	path = zsh-docker-aliases
	url = https://github.com/MenkeTechnologies/zsh-docker-aliases.git
[submodule "kubectl-aliases"]
	path = kubectl-aliases
	url = https://github.com/MenkeTechnologies/kubectl-aliases.git
[submodule "zsh-openshift-aliases"]
	path = zsh-openshift-aliases
	url = https://github.com/MenkeTechnologies/zsh-openshift-aliases.git
[submodule "VimColorSchemes"]
	path = VimColorSchemes
	url = https://github.com/MenkeTechnologies/VimColorSchemes.git
[submodule "zsh-zinit-final"]
	path = zsh-zinit-final
	url = https://github.com/MenkeTechnologies/zsh-zinit-final.git
[submodule "powerliners"]
	path = powerliners
	url = https://github.com/MenkeTechnologies/powerliners.git
[submodule "stryke-polars"]
	path = stryke-polars
	url = https://github.com/MenkeTechnologies/stryke-polars.git
[submodule "stryke-selenium"]
	path = stryke-selenium
	url = https://github.com/MenkeTechnologies/stryke-selenium.git
[submodule "stryke-utils"]
	path = stryke-utils
	url = https://github.com/MenkeTechnologies/stryke-utils.git
[submodule "stryke-fleet"]
	path = stryke-fleet
	url = https://github.com/MenkeTechnologies/stryke-fleet.git
[submodule "stryke-mcpd"]
	path = stryke-mcpd
	url = https://github.com/MenkeTechnologies/stryke-mcpd.git
[submodule "stryke-zmq"]
	path = stryke-zmq
	url = https://github.com/MenkeTechnologies/stryke-zmq.git
[submodule "stryke-office"]
	path = stryke-office
	url = https://github.com/MenkeTechnologies/stryke-office.git
[submodule "stryke-azure"]
	path = stryke-azure
	url = https://github.com/MenkeTechnologies/stryke-azure.git
[submodule "zpwr-synth"]
	path = zpwr-synth
	url = https://github.com/MenkeTechnologies/zpwr-synth.git
[submodule "zpwr-fx"]
	path = zpwr-fx
	url = https://github.com/MenkeTechnologies/zpwr-fx.git
[submodule "app-store"]
	path = app-store
	url = https://github.com/MenkeTechnologies/app-store.git
	branch = main
[submodule "zpwr-midi-fx"]
	path = zpwr-midi-fx
	url = https://github.com/MenkeTechnologies/zpwr-midi-fx.git
[submodule "zpwr-patch-core"]
	path = zpwr-patch-core
	url = https://github.com/MenkeTechnologies/zpwr-patch-core.git
[submodule "MenkeTechnologiesPublications"]
	path = MenkeTechnologiesPublications
	url = https://github.com/MenkeTechnologies/MenkeTechnologiesPublications.git
[submodule "stryke-search"]
	path = stryke-search
	url = https://github.com/MenkeTechnologies/stryke-search.git
[submodule "stryke-clickhouse"]
	path = stryke-clickhouse
	url = https://github.com/MenkeTechnologies/stryke-clickhouse.git
[submodule "stryke-scylla"]
	path = stryke-scylla
	url = https://github.com/MenkeTechnologies/stryke-scylla.git
[submodule "zpwr-license"]
	path = zpwr-license
	url = https://github.com/MenkeTechnologies/zpwr-license.git
[submodule "stryke-email"]
	path = stryke-email
	url = https://github.com/MenkeTechnologies/stryke-email.git
[submodule "stryke-scrape"]
	path = stryke-scrape
	url = https://github.com/MenkeTechnologies/stryke-scrape.git
[submodule "stryke-mssql"]
	path = stryke-mssql
	url = https://github.com/MenkeTechnologies/stryke-mssql.git
[submodule "stryke-neo4j"]
	path = stryke-neo4j
	url = https://github.com/MenkeTechnologies/stryke-neo4j.git
[submodule "ztranslator"]
	path = ztranslator
	url = https://github.com/MenkeTechnologies/ztranslator.git
[submodule "zpwr-jobs"]
	path = zpwr-jobs
	url = https://github.com/MenkeTechnologies/zpwr-jobs.git
[submodule "zpwr-clip-engine"]
	path = zpwr-clip-engine
	url = https://github.com/MenkeTechnologies/zpwr-clip-engine.git
[submodule "vim-stryke"]
	path = vim-stryke
	url = https://github.com/MenkeTechnologies/vim-stryke.git
[submodule "vscode-stryke"]
	path = vscode-stryke
	url = https://github.com/MenkeTechnologies/vscode-stryke.git
[submodule "emacs-stryke"]
	path = emacs-stryke
	url = https://github.com/MenkeTechnologies/emacs-stryke.git
